node_modules/
.env
*.log
.DS_Store

# Ignore all sites EXCEPT the two examples
# Any new site added to sites/ will NOT be tracked
sites/*
!sites/example-notes/
!sites/example-notes/**
!sites/example-clock/
!sites/example-clock/**
